In [5]:
import pandas as pd

# Lire le fichier CSV
df = pd.read_csv('created_users.csv')

# Afficher le DataFrame
print(df)

                                       id  \
0    99f47c42-7b8b-4d7b-be66-74ec5339ba74
1    982f83fa-d1c9-493b-9b3c-2813ed24d9f2
2    b8655e1b-45b0-4c19-8d9d-bc66f9edb98f
3    ecee9c62-36ba-4417-a522-bf6cc9da33fa
4    0f4b2280-df21-45d1-b803-dbf1152550b0
..                                    ...
469  8417413f-7973-4679-a3d8-ed57c6c2aa56
470  a7154d6c-5c34-466c-b93f-a0f6ecaccd82
471  807e41d5-9cac-45c2-9feb-80c3ea413ca6
472  d2cb69e6-e394-4950-a7ff-929f46af5a48
473  cdb37f24-a06d-4588-8e28-d5f53f05ddf0

                                               address  \
0    5869 Bordesstraat, De Goorn, Friesland, Nether...
1    699 Queens Road, Bath, East Sussex, United Kin...
2    575 Dokter de Sonnavillestraat, Lellens, Drent...
3              8110 Hockeyveien, Sokna, Bergen, Norway
4    4616 West Ave, Charlottetown, Newfoundland and...
..                                                 ...
469         2128 Guristuveien, Storås, Oppland, Norway
470        7913 Lørenvangen, Øksfjord, Hedmark, Norway
471            472 Duke St, Woodstock, Ontario, Canada
472  6702 Antenneveien, Liknes, Sogn og Fjordane, N...
473  8261 Bunschotenstraat, Wedde, Drenthe, Netherl...

                                    email first_name  gender  \
0    ricardus.vandenbovenkamp@example.com   Ricardus    male
1               justin.torres@example.com     Justin    male
2              patrycja.luijk@example.com   Patrycja  female
3                  ugne.malik@example.com       Ugne  female
4                  ryan.gagne@example.com       Ryan    male
..                                    ...        ...     ...
469             peter.tafjord@example.com      Peter    male
470            ryan.skarstein@example.com       Ryan    male
471              arnaud.singh@example.com     Arnaud    male
472         richard.nordsveen@example.com    Richard    male
473        akin.vandewijdeven@example.com       Akın    male

             last_name          phone  \
0    Van den Bovenkamp  (023) 0305237
1               Torres   01730 165947
2                Luijk  (053) 4133780
3                Malik       58465165
4                Gagné   X21 C37-5296
..                 ...            ...
469            Tafjord       36767199
470          Skarstein       62158290
471              Singh   R26 P74-2962
472          Nordsveen       65531969
473    Van de Wijdeven  (083) 8943141

                                               picture post_code  \
0    https://randomuser.me/api/portraits/med/men/85...   4531 KU
1    https://randomuser.me/api/portraits/med/men/3.jpg   H03 5XD
2    https://randomuser.me/api/portraits/med/women/...   7675 DJ
3    https://randomuser.me/api/portraits/med/women/...      9386
4    https://randomuser.me/api/portraits/med/men/14...   U9Q 0P7
..                                                 ...       ...
469  https://randomuser.me/api/portraits/med/men/16...      1063
470  https://randomuser.me/api/portraits/med/men/82...      5173
471  https://randomuser.me/api/portraits/med/men/1.jpg   A3Y 8L0
472  https://randomuser.me/api/portraits/med/men/55...      1254
473  https://randomuser.me/api/portraits/med/men/93...   9522 IU

              registered_date            username
0    2019-03-12T10:35:17.977Z       whitemouse666
1    2004-05-23T23:39:23.447Z        brownbear146
2    2010-11-06T11:30:31.765Z     organicpanda934
3    2018-07-18T20:42:03.588Z       greenmouse523
4    2004-03-01T02:20:56.544Z  ticklishmeercat213
..                        ...                 ...
469  2018-11-02T06:42:07.778Z    beautifulfish207
470  2007-01-24T14:04:40.499Z      orangezebra831
471  2004-08-04T02:17:45.438Z    orangeostrich835
472  2011-08-18T23:33:34.349Z      orangegoose435
473  2009-12-07T05:07:18.053Z     ticklishlion285

[474 rows x 11 columns]

In [6]:
df.head()

,id,address,email,first_name,gender,last_name,phone,picture,post_code,registered_date,username
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,"5869 Bordesstraat, De Goorn, Friesland, Nether...",ricardus.vandenbovenkamp@example.com,Ricardus,male,Van den Bovenkamp,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12T10:35:17.977Z,whitemouse666
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,"699 Queens Road, Bath, East Sussex, United Kin...",justin.torres@example.com,Justin,male,Torres,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23T23:39:23.447Z,brownbear146
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,"575 Dokter de Sonnavillestraat, Lellens, Drent...",patrycja.luijk@example.com,Patrycja,female,Luijk,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06T11:30:31.765Z,organicpanda934
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,"8110 Hockeyveien, Sokna, Bergen, Norway",ugne.malik@example.com,Ugne,female,Malik,58465165,https://randomuser.me/api/portraits/med/women/...,9386,2018-07-18T20:42:03.588Z,greenmouse523
4,0f4b2280-df21-45d1-b803-dbf1152550b0,"4616 West Ave, Charlottetown, Newfoundland and...",ryan.gagne@example.com,Ryan,male,Gagné,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,2004-03-01T02:20:56.544Z,ticklishmeercat213

In [7]:
df.shape

(474, 11)

In [8]:
df.columns

Index(['id', 'address', 'email', 'first_name', 'gender', 'last_name', 'phone',
       'picture', 'post_code', 'registered_date', 'username'],
      dtype='object')

In [9]:
df.head()

,id,address,email,first_name,gender,last_name,phone,picture,post_code,registered_date,username
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,"5869 Bordesstraat, De Goorn, Friesland, Nether...",ricardus.vandenbovenkamp@example.com,Ricardus,male,Van den Bovenkamp,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12T10:35:17.977Z,whitemouse666
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,"699 Queens Road, Bath, East Sussex, United Kin...",justin.torres@example.com,Justin,male,Torres,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23T23:39:23.447Z,brownbear146
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,"575 Dokter de Sonnavillestraat, Lellens, Drent...",patrycja.luijk@example.com,Patrycja,female,Luijk,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06T11:30:31.765Z,organicpanda934
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,"8110 Hockeyveien, Sokna, Bergen, Norway",ugne.malik@example.com,Ugne,female,Malik,58465165,https://randomuser.me/api/portraits/med/women/...,9386,2018-07-18T20:42:03.588Z,greenmouse523
4,0f4b2280-df21-45d1-b803-dbf1152550b0,"4616 West Ave, Charlottetown, Newfoundland and...",ryan.gagne@example.com,Ryan,male,Gagné,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,2004-03-01T02:20:56.544Z,ticklishmeercat213

In [10]:
df['address']

0      5869 Bordesstraat, De Goorn, Friesland, Nether...
1      699 Queens Road, Bath, East Sussex, United Kin...
2      575 Dokter de Sonnavillestraat, Lellens, Drent...
3                8110 Hockeyveien, Sokna, Bergen, Norway
4      4616 West Ave, Charlottetown, Newfoundland and...
                             ...
469           2128 Guristuveien, Storås, Oppland, Norway
470          7913 Lørenvangen, Øksfjord, Hedmark, Norway
471              472 Duke St, Woodstock, Ontario, Canada
472    6702 Antenneveien, Liknes, Sogn og Fjordane, N...
473    8261 Bunschotenstraat, Wedde, Drenthe, Netherl...
Name: address, Length: 474, dtype: object

In [11]:
df.head(3)

,id,address,email,first_name,gender,last_name,phone,picture,post_code,registered_date,username
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,"5869 Bordesstraat, De Goorn, Friesland, Nether...",ricardus.vandenbovenkamp@example.com,Ricardus,male,Van den Bovenkamp,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12T10:35:17.977Z,whitemouse666
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,"699 Queens Road, Bath, East Sussex, United Kin...",justin.torres@example.com,Justin,male,Torres,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23T23:39:23.447Z,brownbear146
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,"575 Dokter de Sonnavillestraat, Lellens, Drent...",patrycja.luijk@example.com,Patrycja,female,Luijk,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06T11:30:31.765Z,organicpanda934

In [12]:
df.columns

Index(['id', 'address', 'email', 'first_name', 'gender', 'last_name', 'phone',
       'picture', 'post_code', 'registered_date', 'username'],
      dtype='object')

In [13]:
df[['address_part1', 'city', 'state_country']] = df['address'].str.split(',', n=2, expand=True)
df[['state', 'country']] = df['state_country'].str.split(',', n=1, expand=True)

In [14]:
df.columns

Index(['id', 'address', 'email', 'first_name', 'gender', 'last_name', 'phone',
       'picture', 'post_code', 'registered_date', 'username', 'address_part1',
       'city', 'state_country', 'state', 'country'],
      dtype='object')

In [15]:
df.head(3)

,id,address,email,first_name,gender,last_name,phone,picture,post_code,registered_date,username,address_part1,city,state_country,state,country
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,"5869 Bordesstraat, De Goorn, Friesland, Nether...",ricardus.vandenbovenkamp@example.com,Ricardus,male,Van den Bovenkamp,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12T10:35:17.977Z,whitemouse666,5869 Bordesstraat,De Goorn,"Friesland, Netherlands",Friesland,Netherlands
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,"699 Queens Road, Bath, East Sussex, United Kin...",justin.torres@example.com,Justin,male,Torres,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23T23:39:23.447Z,brownbear146,699 Queens Road,Bath,"East Sussex, United Kingdom",East Sussex,United Kingdom
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,"575 Dokter de Sonnavillestraat, Lellens, Drent...",patrycja.luijk@example.com,Patrycja,female,Luijk,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06T11:30:31.765Z,organicpanda934,575 Dokter de Sonnavillestraat,Lellens,"Drenthe, Netherlands",Drenthe,Netherlands

In [16]:
df['country'].head(400)

0          Netherlands
1       United Kingdom
2          Netherlands
3               Norway
4               Canada
            ...
395     United Kingdom
396        Netherlands
397        Netherlands
398             Serbia
399        Netherlands
Name: country, Length: 400, dtype: object

In [17]:
df.head(10)

,id,address,email,first_name,gender,last_name,phone,picture,post_code,registered_date,username,address_part1,city,state_country,state,country
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,"5869 Bordesstraat, De Goorn, Friesland, Nether...",ricardus.vandenbovenkamp@example.com,Ricardus,male,Van den Bovenkamp,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12T10:35:17.977Z,whitemouse666,5869 Bordesstraat,De Goorn,"Friesland, Netherlands",Friesland,Netherlands
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,"699 Queens Road, Bath, East Sussex, United Kin...",justin.torres@example.com,Justin,male,Torres,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23T23:39:23.447Z,brownbear146,699 Queens Road,Bath,"East Sussex, United Kingdom",East Sussex,United Kingdom
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,"575 Dokter de Sonnavillestraat, Lellens, Drent...",patrycja.luijk@example.com,Patrycja,female,Luijk,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06T11:30:31.765Z,organicpanda934,575 Dokter de Sonnavillestraat,Lellens,"Drenthe, Netherlands",Drenthe,Netherlands
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,"8110 Hockeyveien, Sokna, Bergen, Norway",ugne.malik@example.com,Ugne,female,Malik,58465165,https://randomuser.me/api/portraits/med/women/...,9386,2018-07-18T20:42:03.588Z,greenmouse523,8110 Hockeyveien,Sokna,"Bergen, Norway",Bergen,Norway
4,0f4b2280-df21-45d1-b803-dbf1152550b0,"4616 West Ave, Charlottetown, Newfoundland and...",ryan.gagne@example.com,Ryan,male,Gagné,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,2004-03-01T02:20:56.544Z,ticklishmeercat213,4616 West Ave,Charlottetown,"Newfoundland and Labrador, Canada",Newfoundland and Labrador,Canada
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,"3246 Jomfrustien, Brekstad, Buskerud, Norway",sigrid.noreng@example.com,Sigrid,female,Noreng,77936163,https://randomuser.me/api/portraits/med/women/...,6094,2021-06-05T10:36:13.378Z,happyfish815,3246 Jomfrustien,Brekstad,"Buskerud, Norway",Buskerud,Norway
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,"6402 Løkkalia, Søre Øyane, Trøndelag, Norway",linde.uthus@example.com,Linde,female,Uthus,31180880,https://randomuser.me/api/portraits/med/women/...,9415,2017-08-27T09:26:16.013Z,lazypanda314,6402 Løkkalia,Søre Øyane,"Trøndelag, Norway",Trøndelag,Norway
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,"8843 Tøyengata, Nesbygda, Oslo, Norway",alexandra.taule@example.com,Alexandra,female,Taule,86267891,https://randomuser.me/api/portraits/med/women/...,5147,2004-02-06T01:33:27.717Z,heavypeacock666,8843 Tøyengata,Nesbygda,"Oslo, Norway",Oslo,Norway
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,"5137 The Avenue, Lichfield, Worcestershire, Un...",carol.gardner@example.com,Carol,female,Gardner,017684 53879,https://randomuser.me/api/portraits/med/women/...,DH28 1XQ,2006-01-24T09:38:32.227Z,smalldog640,5137 The Avenue,Lichfield,"Worcestershire, United Kingdom",Worcestershire,United Kingdom
9,68236958-7612-473b-a62b-aec94ad4f511,"8646 The Drive, Leicester, South Glamorgan, Un...",sam.carr@example.com,Sam,female,Carr,016973 53226,https://randomuser.me/api/portraits/med/women/...,CK5 5ZP,2015-06-29T14:29:51.505Z,bigbutterfly274,8646 The Drive,Leicester,"South Glamorgan, United Kingdom",South Glamorgan,United Kingdom

In [18]:
df=df.drop(columns=['state_country'])

In [19]:
df[['registered_date']].head()

            registered_date
0  2019-03-12T10:35:17.977Z
1  2004-05-23T23:39:23.447Z
2  2010-11-06T11:30:31.765Z
3  2018-07-18T20:42:03.588Z
4  2004-03-01T02:20:56.544Z

In [20]:
df=df.drop(columns=['address'])

In [21]:
df.head(10)

,id,email,first_name,gender,last_name,phone,picture,post_code,registered_date,username,address_part1,city,state,country
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Ricardus,male,Van den Bovenkamp,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12T10:35:17.977Z,whitemouse666,5869 Bordesstraat,De Goorn,Friesland,Netherlands
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Justin,male,Torres,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23T23:39:23.447Z,brownbear146,699 Queens Road,Bath,East Sussex,United Kingdom
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Patrycja,female,Luijk,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06T11:30:31.765Z,organicpanda934,575 Dokter de Sonnavillestraat,Lellens,Drenthe,Netherlands
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Ugne,female,Malik,58465165,https://randomuser.me/api/portraits/med/women/...,9386,2018-07-18T20:42:03.588Z,greenmouse523,8110 Hockeyveien,Sokna,Bergen,Norway
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Ryan,male,Gagné,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,2004-03-01T02:20:56.544Z,ticklishmeercat213,4616 West Ave,Charlottetown,Newfoundland and Labrador,Canada
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,Sigrid,female,Noreng,77936163,https://randomuser.me/api/portraits/med/women/...,6094,2021-06-05T10:36:13.378Z,happyfish815,3246 Jomfrustien,Brekstad,Buskerud,Norway
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,Linde,female,Uthus,31180880,https://randomuser.me/api/portraits/med/women/...,9415,2017-08-27T09:26:16.013Z,lazypanda314,6402 Løkkalia,Søre Øyane,Trøndelag,Norway
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,Alexandra,female,Taule,86267891,https://randomuser.me/api/portraits/med/women/...,5147,2004-02-06T01:33:27.717Z,heavypeacock666,8843 Tøyengata,Nesbygda,Oslo,Norway
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,Carol,female,Gardner,017684 53879,https://randomuser.me/api/portraits/med/women/...,DH28 1XQ,2006-01-24T09:38:32.227Z,smalldog640,5137 The Avenue,Lichfield,Worcestershire,United Kingdom
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,Sam,female,Carr,016973 53226,https://randomuser.me/api/portraits/med/women/...,CK5 5ZP,2015-06-29T14:29:51.505Z,bigbutterfly274,8646 The Drive,Leicester,South Glamorgan,United Kingdom

In [22]:
# Assure-toi que 'registered_date' est au format datetime
df['registered_date'] = pd.to_datetime(df['registered_date'])

# Extraire l'année
df['date'] = df['registered_date'].dt.year

# Afficher le DataFrame avec l'année
print(df[['registered_date', 'date']])

                     registered_date  date
0   2019-03-12 10:35:17.977000+00:00  2019
1   2004-05-23 23:39:23.447000+00:00  2004
2   2010-11-06 11:30:31.765000+00:00  2010
3   2018-07-18 20:42:03.588000+00:00  2018
4   2004-03-01 02:20:56.544000+00:00  2004
..                               ...   ...
469 2018-11-02 06:42:07.778000+00:00  2018
470 2007-01-24 14:04:40.499000+00:00  2007
471 2004-08-04 02:17:45.438000+00:00  2004
472 2011-08-18 23:33:34.349000+00:00  2011
473 2009-12-07 05:07:18.053000+00:00  2009

[474 rows x 2 columns]

In [23]:
df.head(10)

,id,email,first_name,gender,last_name,phone,picture,post_code,registered_date,username,address_part1,city,state,country,date
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Ricardus,male,Van den Bovenkamp,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12 10:35:17.977000+00:00,whitemouse666,5869 Bordesstraat,De Goorn,Friesland,Netherlands,2019
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Justin,male,Torres,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23 23:39:23.447000+00:00,brownbear146,699 Queens Road,Bath,East Sussex,United Kingdom,2004
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Patrycja,female,Luijk,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06 11:30:31.765000+00:00,organicpanda934,575 Dokter de Sonnavillestraat,Lellens,Drenthe,Netherlands,2010
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Ugne,female,Malik,58465165,https://randomuser.me/api/portraits/med/women/...,9386,2018-07-18 20:42:03.588000+00:00,greenmouse523,8110 Hockeyveien,Sokna,Bergen,Norway,2018
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Ryan,male,Gagné,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,2004-03-01 02:20:56.544000+00:00,ticklishmeercat213,4616 West Ave,Charlottetown,Newfoundland and Labrador,Canada,2004
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,Sigrid,female,Noreng,77936163,https://randomuser.me/api/portraits/med/women/...,6094,2021-06-05 10:36:13.378000+00:00,happyfish815,3246 Jomfrustien,Brekstad,Buskerud,Norway,2021
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,Linde,female,Uthus,31180880,https://randomuser.me/api/portraits/med/women/...,9415,2017-08-27 09:26:16.013000+00:00,lazypanda314,6402 Løkkalia,Søre Øyane,Trøndelag,Norway,2017
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,Alexandra,female,Taule,86267891,https://randomuser.me/api/portraits/med/women/...,5147,2004-02-06 01:33:27.717000+00:00,heavypeacock666,8843 Tøyengata,Nesbygda,Oslo,Norway,2004
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,Carol,female,Gardner,017684 53879,https://randomuser.me/api/portraits/med/women/...,DH28 1XQ,2006-01-24 09:38:32.227000+00:00,smalldog640,5137 The Avenue,Lichfield,Worcestershire,United Kingdom,2006
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,Sam,female,Carr,016973 53226,https://randomuser.me/api/portraits/med/women/...,CK5 5ZP,2015-06-29 14:29:51.505000+00:00,bigbutterfly274,8646 The Drive,Leicester,South Glamorgan,United Kingdom,2015

In [24]:
df.columns

Index(['id', 'email', 'first_name', 'gender', 'last_name', 'phone', 'picture',
       'post_code', 'registered_date', 'username', 'address_part1', 'city',
       'state', 'country', 'date'],
      dtype='object')

In [25]:
df['Nom_Prenom']=df['last_name']+df['first_name']

In [26]:
df.head(1)

,id,email,first_name,gender,last_name,phone,picture,post_code,registered_date,username,address_part1,city,state,country,date,Nom_Prenom
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Ricardus,male,Van den Bovenkamp,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12 10:35:17.977000+00:00,whitemouse666,5869 Bordesstraat,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus

In [27]:
df=df.drop(columns=['first_name','last_name'])

In [28]:
df.head(10)

,id,email,gender,phone,picture,post_code,registered_date,username,address_part1,city,state,country,date,Nom_Prenom
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12 10:35:17.977000+00:00,whitemouse666,5869 Bordesstraat,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23 23:39:23.447000+00:00,brownbear146,699 Queens Road,Bath,East Sussex,United Kingdom,2004,TorresJustin
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06 11:30:31.765000+00:00,organicpanda934,575 Dokter de Sonnavillestraat,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,58465165,https://randomuser.me/api/portraits/med/women/...,9386,2018-07-18 20:42:03.588000+00:00,greenmouse523,8110 Hockeyveien,Sokna,Bergen,Norway,2018,MalikUgne
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,2004-03-01 02:20:56.544000+00:00,ticklishmeercat213,4616 West Ave,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,female,77936163,https://randomuser.me/api/portraits/med/women/...,6094,2021-06-05 10:36:13.378000+00:00,happyfish815,3246 Jomfrustien,Brekstad,Buskerud,Norway,2021,NorengSigrid
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,female,31180880,https://randomuser.me/api/portraits/med/women/...,9415,2017-08-27 09:26:16.013000+00:00,lazypanda314,6402 Løkkalia,Søre Øyane,Trøndelag,Norway,2017,UthusLinde
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,female,86267891,https://randomuser.me/api/portraits/med/women/...,5147,2004-02-06 01:33:27.717000+00:00,heavypeacock666,8843 Tøyengata,Nesbygda,Oslo,Norway,2004,TauleAlexandra
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,female,017684 53879,https://randomuser.me/api/portraits/med/women/...,DH28 1XQ,2006-01-24 09:38:32.227000+00:00,smalldog640,5137 The Avenue,Lichfield,Worcestershire,United Kingdom,2006,GardnerCarol
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,female,016973 53226,https://randomuser.me/api/portraits/med/women/...,CK5 5ZP,2015-06-29 14:29:51.505000+00:00,bigbutterfly274,8646 The Drive,Leicester,South Glamorgan,United Kingdom,2015,CarrSam

In [29]:
# Convertir en format datetime
df['registered_date'] = pd.to_datetime(df['registered_date'])

# Extraire uniquement l'année
df['year'] = df['registered_date'].dt.year

# Afficher le DataFrame avec l'année
print(df[['registered_date', 'year']])

                     registered_date  year
0   2019-03-12 10:35:17.977000+00:00  2019
1   2004-05-23 23:39:23.447000+00:00  2004
2   2010-11-06 11:30:31.765000+00:00  2010
3   2018-07-18 20:42:03.588000+00:00  2018
4   2004-03-01 02:20:56.544000+00:00  2004
..                               ...   ...
469 2018-11-02 06:42:07.778000+00:00  2018
470 2007-01-24 14:04:40.499000+00:00  2007
471 2004-08-04 02:17:45.438000+00:00  2004
472 2011-08-18 23:33:34.349000+00:00  2011
473 2009-12-07 05:07:18.053000+00:00  2009

[474 rows x 2 columns]

In [30]:
df.head(1)

,id,email,gender,phone,picture,post_code,registered_date,username,address_part1,city,state,country,date,Nom_Prenom,year
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12 10:35:17.977000+00:00,whitemouse666,5869 Bordesstraat,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019

In [31]:
df.drop(columns=['registered_date'])

,id,email,gender,phone,picture,post_code,username,address_part1,city,state,country,date,Nom_Prenom,year
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,whitemouse666,5869 Bordesstraat,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,brownbear146,699 Queens Road,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,organicpanda934,575 Dokter de Sonnavillestraat,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,58465165,https://randomuser.me/api/portraits/med/women/...,9386,greenmouse523,8110 Hockeyveien,Sokna,Bergen,Norway,2018,MalikUgne,2018
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,ticklishmeercat213,4616 West Ave,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,male,36767199,https://randomuser.me/api/portraits/med/men/16...,1063,beautifulfish207,2128 Guristuveien,Storås,Oppland,Norway,2018,TafjordPeter,2018
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,male,62158290,https://randomuser.me/api/portraits/med/men/82...,5173,orangezebra831,7913 Lørenvangen,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,male,R26 P74-2962,https://randomuser.me/api/portraits/med/men/1.jpg,A3Y 8L0,orangeostrich835,472 Duke St,Woodstock,Ontario,Canada,2004,SinghArnaud,2004
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,male,65531969,https://randomuser.me/api/portraits/med/men/55...,1254,orangegoose435,6702 Antenneveien,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,male,(083) 8943141,https://randomuser.me/api/portraits/med/men/93...,9522 IU,ticklishlion285,8261 Bunschotenstraat,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009

In [32]:
df.columns

Index(['id', 'email', 'gender', 'phone', 'picture', 'post_code',
       'registered_date', 'username', 'address_part1', 'city', 'state',
       'country', 'date', 'Nom_Prenom', 'year'],
      dtype='object')

In [33]:
df.head()

,id,email,gender,phone,picture,post_code,registered_date,username,address_part1,city,state,country,date,Nom_Prenom,year
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12 10:35:17.977000+00:00,whitemouse666,5869 Bordesstraat,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23 23:39:23.447000+00:00,brownbear146,699 Queens Road,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06 11:30:31.765000+00:00,organicpanda934,575 Dokter de Sonnavillestraat,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,58465165,https://randomuser.me/api/portraits/med/women/...,9386,2018-07-18 20:42:03.588000+00:00,greenmouse523,8110 Hockeyveien,Sokna,Bergen,Norway,2018,MalikUgne,2018
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,2004-03-01 02:20:56.544000+00:00,ticklishmeercat213,4616 West Ave,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004

In [34]:
filter= (df['date']==2010) 
df.loc[filter,['gender','country','year']]

     gender          country  year
2    female      Netherlands  2010
25     male          Germany  2010
33   female      Netherlands  2010
43   female           Canada  2010
94     male      Netherlands  2010
99     male   United Kingdom  2010
106  female      Netherlands  2010
117    male           Norway  2010
119    male           Canada  2010
136    male      Netherlands  2010
157  female      Netherlands  2010
179    male           Canada  2010
187    male           Norway  2010
196  female           Canada  2010
201  female   United Kingdom  2010
202  female   United Kingdom  2010
212  female           Norway  2010
218    male           Norway  2010
231    male   United Kingdom  2010
282  female           Norway  2010
296  female           Norway  2010
321    male           Norway  2010
337  female   United Kingdom  2010
344  female           Norway  2010
349  female      Netherlands  2010
417    male           Norway  2010

In [35]:
filter = (df['country'].str.strip() == 'Canada')
result = df.loc[filter, ['gender', 'country', 'year']]
print(result)

     gender  country  year
4      male   Canada  2004
22     male   Canada  2013
23   female   Canada  2007
30   female   Canada  2006
32   female   Canada  2014
..      ...      ...   ...
456  female   Canada  2009
459    male   Canada  2019
463  female   Canada  2015
467    male   Canada  2015
471    male   Canada  2004

[91 rows x 3 columns]

In [36]:
filter = (df['country'].str.strip() == 'Norway') 
df.loc[filter, ['gender', 'country', 'year']]

     gender  country  year
3    female   Norway  2018
5    female   Norway  2021
6    female   Norway  2017
7    female   Norway  2004
10   female   Norway  2019
..      ...      ...   ...
462  female   Norway  2006
466  female   Norway  2017
469    male   Norway  2018
470    male   Norway  2007
472    male   Norway  2011

[130 rows x 3 columns]

In [37]:
df.head(5)

,id,email,gender,phone,picture,post_code,registered_date,username,address_part1,city,state,country,date,Nom_Prenom,year
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12 10:35:17.977000+00:00,whitemouse666,5869 Bordesstraat,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23 23:39:23.447000+00:00,brownbear146,699 Queens Road,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06 11:30:31.765000+00:00,organicpanda934,575 Dokter de Sonnavillestraat,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,58465165,https://randomuser.me/api/portraits/med/women/...,9386,2018-07-18 20:42:03.588000+00:00,greenmouse523,8110 Hockeyveien,Sokna,Bergen,Norway,2018,MalikUgne,2018
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,2004-03-01 02:20:56.544000+00:00,ticklishmeercat213,4616 West Ave,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004

In [38]:
df.head()

,id,email,gender,phone,picture,post_code,registered_date,username,address_part1,city,state,country,date,Nom_Prenom,year
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,(023) 0305237,https://randomuser.me/api/portraits/med/men/85...,4531 KU,2019-03-12 10:35:17.977000+00:00,whitemouse666,5869 Bordesstraat,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,01730 165947,https://randomuser.me/api/portraits/med/men/3.jpg,H03 5XD,2004-05-23 23:39:23.447000+00:00,brownbear146,699 Queens Road,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,(053) 4133780,https://randomuser.me/api/portraits/med/women/...,7675 DJ,2010-11-06 11:30:31.765000+00:00,organicpanda934,575 Dokter de Sonnavillestraat,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,58465165,https://randomuser.me/api/portraits/med/women/...,9386,2018-07-18 20:42:03.588000+00:00,greenmouse523,8110 Hockeyveien,Sokna,Bergen,Norway,2018,MalikUgne,2018
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,X21 C37-5296,https://randomuser.me/api/portraits/med/men/14...,U9Q 0P7,2004-03-01 02:20:56.544000+00:00,ticklishmeercat213,4616 West Ave,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004

In [39]:
df=df.drop(columns=['phone','post_code','registered_date','address_part1'])

In [40]:
df.head(1)

,id,email,gender,picture,username,city,state,country,date,Nom_Prenom,year
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019

In [41]:
df['salaire'] = 0  # Valeur par défaut, à ajuster selon les besoins
df['age'] = 2024 - df['year']  # Calculer l'âge à partir de l'année d'inscription
df['secteur_d_activite'] = ''  # Valeur par défaut, à remplir
df['etat_civile'] = ''  # Valeur par défaut, à remplir
df['type_contrat'] = ''

In [42]:
df.head(10)

,id,email,gender,picture,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,0,5,,,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,0,20,,,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,0,14,,,
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,0,6,,,
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,0,20,,,
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,female,https://randomuser.me/api/portraits/med/women/...,happyfish815,Brekstad,Buskerud,Norway,2021,NorengSigrid,2021,0,3,,,
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,female,https://randomuser.me/api/portraits/med/women/...,lazypanda314,Søre Øyane,Trøndelag,Norway,2017,UthusLinde,2017,0,7,,,
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,female,https://randomuser.me/api/portraits/med/women/...,heavypeacock666,Nesbygda,Oslo,Norway,2004,TauleAlexandra,2004,0,20,,,
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,female,https://randomuser.me/api/portraits/med/women/...,smalldog640,Lichfield,Worcestershire,United Kingdom,2006,GardnerCarol,2006,0,18,,,
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,female,https://randomuser.me/api/portraits/med/women/...,bigbutterfly274,Leicester,South Glamorgan,United Kingdom,2015,CarrSam,2015,0,9,,,

In [43]:
df.shape

(474, 16)

In [44]:
df['age']='0'

In [45]:
df.head(10)

,id,email,gender,picture,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,0,0,,,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,0,0,,,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,0,0,,,
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,0,0,,,
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,0,0,,,
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,female,https://randomuser.me/api/portraits/med/women/...,happyfish815,Brekstad,Buskerud,Norway,2021,NorengSigrid,2021,0,0,,,
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,female,https://randomuser.me/api/portraits/med/women/...,lazypanda314,Søre Øyane,Trøndelag,Norway,2017,UthusLinde,2017,0,0,,,
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,female,https://randomuser.me/api/portraits/med/women/...,heavypeacock666,Nesbygda,Oslo,Norway,2004,TauleAlexandra,2004,0,0,,,
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,female,https://randomuser.me/api/portraits/med/women/...,smalldog640,Lichfield,Worcestershire,United Kingdom,2006,GardnerCarol,2006,0,0,,,
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,female,https://randomuser.me/api/portraits/med/women/...,bigbutterfly274,Leicester,South Glamorgan,United Kingdom,2015,CarrSam,2015,0,0,,,

In [46]:
df.columns

Index(['id', 'email', 'gender', 'picture', 'username', 'city', 'state',
       'country', 'date', 'Nom_Prenom', 'year', 'salaire', 'age',
       'secteur_d_activite', 'etat_civile', 'type_contrat'],
      dtype='object')

In [47]:
import numpy as np

# Définir une plage de salaires
salaire_min = 30000
salaire_max = 100000

# Remplir la colonne 'salaire' avec des valeurs aléatoires
df['salaire'] = np.random.randint(salaire_min, salaire_max, size=len(df))

In [48]:
df.head(10)

,id,email,gender,picture,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,0,,,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,0,,,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,0,,,
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,0,,,
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,0,,,
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,female,https://randomuser.me/api/portraits/med/women/...,happyfish815,Brekstad,Buskerud,Norway,2021,NorengSigrid,2021,78452,0,,,
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,female,https://randomuser.me/api/portraits/med/women/...,lazypanda314,Søre Øyane,Trøndelag,Norway,2017,UthusLinde,2017,68855,0,,,
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,female,https://randomuser.me/api/portraits/med/women/...,heavypeacock666,Nesbygda,Oslo,Norway,2004,TauleAlexandra,2004,46107,0,,,
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,female,https://randomuser.me/api/portraits/med/women/...,smalldog640,Lichfield,Worcestershire,United Kingdom,2006,GardnerCarol,2006,44002,0,,,
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,female,https://randomuser.me/api/portraits/med/women/...,bigbutterfly274,Leicester,South Glamorgan,United Kingdom,2015,CarrSam,2015,86155,0,,,

In [49]:
import numpy as np

# Liste de secteurs d'activité
secteurs = [
    'Technologie',
    'Santé',
    'Finance',
    'Éducation',
    'Construction',
    'Agriculture',
    'Commerce',
    'Transport',
    'Sport',
    'Industrie'
]

# Remplir la colonne 'secteur_d_activite' avec des valeurs aléatoires
df['secteur_d_activite'] = np.random.choice(secteurs, size=len(df))

In [50]:
df.head(10)

,id,email,gender,picture,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,0,Transport,,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,0,Éducation,,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,0,Transport,,
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,0,Construction,,
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,0,Construction,,
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,female,https://randomuser.me/api/portraits/med/women/...,happyfish815,Brekstad,Buskerud,Norway,2021,NorengSigrid,2021,78452,0,Finance,,
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,female,https://randomuser.me/api/portraits/med/women/...,lazypanda314,Søre Øyane,Trøndelag,Norway,2017,UthusLinde,2017,68855,0,Santé,,
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,female,https://randomuser.me/api/portraits/med/women/...,heavypeacock666,Nesbygda,Oslo,Norway,2004,TauleAlexandra,2004,46107,0,Technologie,,
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,female,https://randomuser.me/api/portraits/med/women/...,smalldog640,Lichfield,Worcestershire,United Kingdom,2006,GardnerCarol,2006,44002,0,Construction,,
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,female,https://randomuser.me/api/portraits/med/women/...,bigbutterfly274,Leicester,South Glamorgan,United Kingdom,2015,CarrSam,2015,86155,0,Construction,,

In [51]:
# Remplir la colonne 'age' avec des âges aléatoires entre 18 et 65
df['age'] = np.random.randint(18, 66, size=len(df))

In [52]:
df.rename(columns={'picture': 'image'}, inplace=True)
df.rename(columns={'gender': 'sexe'}, inplace=True)

In [53]:
df.head(10)

,id,email,sexe,image,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,63,Transport,,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,43,Éducation,,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,52,Transport,,
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,34,Construction,,
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,28,Construction,,
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,female,https://randomuser.me/api/portraits/med/women/...,happyfish815,Brekstad,Buskerud,Norway,2021,NorengSigrid,2021,78452,21,Finance,,
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,female,https://randomuser.me/api/portraits/med/women/...,lazypanda314,Søre Øyane,Trøndelag,Norway,2017,UthusLinde,2017,68855,65,Santé,,
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,female,https://randomuser.me/api/portraits/med/women/...,heavypeacock666,Nesbygda,Oslo,Norway,2004,TauleAlexandra,2004,46107,19,Technologie,,
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,female,https://randomuser.me/api/portraits/med/women/...,smalldog640,Lichfield,Worcestershire,United Kingdom,2006,GardnerCarol,2006,44002,25,Construction,,
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,female,https://randomuser.me/api/portraits/med/women/...,bigbutterfly274,Leicester,South Glamorgan,United Kingdom,2015,CarrSam,2015,86155,65,Construction,,

In [54]:
df.columns

Index(['id', 'email', 'sexe', 'image', 'username', 'city', 'state', 'country',
       'date', 'Nom_Prenom', 'year', 'salaire', 'age', 'secteur_d_activite',
       'etat_civile', 'type_contrat'],
      dtype='object')

In [55]:
df.head(10)

,id,email,sexe,image,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,63,Transport,,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,43,Éducation,,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,52,Transport,,
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,34,Construction,,
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,28,Construction,,
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,female,https://randomuser.me/api/portraits/med/women/...,happyfish815,Brekstad,Buskerud,Norway,2021,NorengSigrid,2021,78452,21,Finance,,
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,female,https://randomuser.me/api/portraits/med/women/...,lazypanda314,Søre Øyane,Trøndelag,Norway,2017,UthusLinde,2017,68855,65,Santé,,
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,female,https://randomuser.me/api/portraits/med/women/...,heavypeacock666,Nesbygda,Oslo,Norway,2004,TauleAlexandra,2004,46107,19,Technologie,,
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,female,https://randomuser.me/api/portraits/med/women/...,smalldog640,Lichfield,Worcestershire,United Kingdom,2006,GardnerCarol,2006,44002,25,Construction,,
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,female,https://randomuser.me/api/portraits/med/women/...,bigbutterfly274,Leicester,South Glamorgan,United Kingdom,2015,CarrSam,2015,86155,65,Construction,,

In [56]:
df

,id,email,sexe,image,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,63,Transport,,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,43,Éducation,,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,52,Transport,,
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,34,Construction,,
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,28,Construction,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,male,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,59167,19,Santé,,
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,male,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,54644,56,Éducation,,
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,male,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,93211,23,Transport,,
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,male,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,55437,62,Sport,,
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,male,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,60798,26,Industrie,,

In [57]:
# Liste des états civils et leurs poids respectifs
etats_civils = ['Célibataire', 'Marié', 'Divorcé', 'Veuf']
poids = [0.3, 0.4, 0.2, 0.1]

# Remplir la colonne 'etat_civile' avec des valeurs selon les poids
df['etat_civile'] = np.random.choice(etats_civils, size=len(df), p=poids)

In [58]:
df.head(3)

,id,email,sexe,image,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,63,Transport,Divorcé,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,43,Éducation,Marié,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,52,Transport,Marié,

In [59]:
df

,id,email,sexe,image,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,male,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,63,Transport,Divorcé,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,male,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,43,Éducation,Marié,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,female,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,52,Transport,Marié,
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,female,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,34,Construction,Marié,
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,male,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,28,Construction,Marié,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,male,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,59167,19,Santé,Marié,
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,male,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,54644,56,Éducation,Veuf,
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,male,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,93211,23,Transport,Célibataire,
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,male,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,55437,62,Sport,Célibataire,
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,male,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,60798,26,Industrie,Célibataire,

In [60]:
sexes = ['Homme', 'Femme']
poids_sexe = [0.65, 0.35]

# Remplir la colonne 'sexe' avec des valeurs selon les poids
df['sexe'] = np.random.choice(sexes, size=len(df), p=poids_sexe)

In [61]:
df.head(10)

,id,email,sexe,image,username,city,state,country,date,Nom_Prenom,year,salaire,age,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,63,Transport,Divorcé,
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,43,Éducation,Marié,
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,52,Transport,Marié,
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,34,Construction,Marié,
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,28,Construction,Marié,
5,59c466a4-1c9f-4813-8c3d-00382bc14c88,sigrid.noreng@example.com,Femme,https://randomuser.me/api/portraits/med/women/...,happyfish815,Brekstad,Buskerud,Norway,2021,NorengSigrid,2021,78452,21,Finance,Marié,
6,9c6c8b34-fff7-47e4-835e-43a6b06983c6,linde.uthus@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,lazypanda314,Søre Øyane,Trøndelag,Norway,2017,UthusLinde,2017,68855,65,Santé,Divorcé,
7,cf2b9df9-0263-4385-b5f2-dc1536576ad6,alexandra.taule@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,heavypeacock666,Nesbygda,Oslo,Norway,2004,TauleAlexandra,2004,46107,19,Technologie,Divorcé,
8,a28d3fa4-6b8a-4e4c-b9d8-3bd524d46d9d,carol.gardner@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,smalldog640,Lichfield,Worcestershire,United Kingdom,2006,GardnerCarol,2006,44002,25,Construction,Marié,
9,68236958-7612-473b-a62b-aec94ad4f511,sam.carr@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,bigbutterfly274,Leicester,South Glamorgan,United Kingdom,2015,CarrSam,2015,86155,65,Construction,Célibataire,

In [62]:
# Liste des types de contrat et leurs poids respectifs
types_contrats = ['CDI', 'CDD', 'Freelance', 'Stage']
poids_contrat = [0.60, 0.15, 0.15, 0.10]

# Remplir la colonne 'type_contrat' avec des valeurs selon les poids
df['type_contrat'] = np.random.choice(types_contrats, size=len(df), p=poids_contrat)

In [63]:
df.drop(columns=['age'])

,id,email,sexe,image,username,city,state,country,date,Nom_Prenom,year,salaire,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,Transport,Divorcé,CDI
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,Éducation,Marié,CDI
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,Transport,Marié,CDI
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,Construction,Marié,Freelance
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,Construction,Marié,CDI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,59167,Santé,Marié,CDI
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,54644,Éducation,Veuf,Stage
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,93211,Transport,Célibataire,CDD
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,55437,Sport,Célibataire,CDI
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,60798,Industrie,Célibataire,CDI

In [64]:
df=df.drop(columns=['age'])

In [65]:
df

,id,email,sexe,image,username,city,state,country,date,Nom_Prenom,year,salaire,secteur_d_activite,etat_civile,type_contrat
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,Transport,Divorcé,CDI
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,Éducation,Marié,CDI
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,Transport,Marié,CDI
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,Construction,Marié,Freelance
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,Construction,Marié,CDI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,59167,Santé,Marié,CDI
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,54644,Éducation,Veuf,Stage
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,93211,Transport,Célibataire,CDD
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,55437,Sport,Célibataire,CDI
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,60798,Industrie,Célibataire,CDI

In [66]:
# Spécifications des âges et des proportions
n = len(df)  # Nombre de lignes dans le DataFrame

# Générer les âges selon les proportions spécifiées
ages_24_40 = np.random.randint(24, 41, size=int(n * 0.60))  # 60% entre [24, 40]
ages_18_24 = np.random.randint(18, 25, size=int(n * 0.10))  # 10% entre [18, 24]
ages_41_67 = np.random.randint(41, 68, size=int(n * 0.26))  # 26% entre [41, 67]
ages_68_70 = np.random.randint(68, 71, size=int(n * 0.03))  # 3% entre [68, 70]

# Vérifier la somme des âges
total_ages = np.concatenate([ages_24_40, ages_18_24, ages_41_67, ages_68_70])

# Ajuster le tableau d'âges si nécessaire
if len(total_ages) != n:
    total_ages = np.resize(total_ages, n)

# Mélanger les âges pour obtenir une répartition aléatoire
np.random.shuffle(total_ages)

# Ajouter la colonne 'age' au DataFrame
df['age'] = total_ages

# Afficher les premières lignes du DataFrame
print(df.head())

                                     id                                 email  \
0  99f47c42-7b8b-4d7b-be66-74ec5339ba74  ricardus.vandenbovenkamp@example.com
1  982f83fa-d1c9-493b-9b3c-2813ed24d9f2             justin.torres@example.com
2  b8655e1b-45b0-4c19-8d9d-bc66f9edb98f            patrycja.luijk@example.com
3  ecee9c62-36ba-4417-a522-bf6cc9da33fa                ugne.malik@example.com
4  0f4b2280-df21-45d1-b803-dbf1152550b0                ryan.gagne@example.com

    sexe                                              image  \
0  Homme  https://randomuser.me/api/portraits/med/men/85...
1  Femme  https://randomuser.me/api/portraits/med/men/3.jpg
2  Homme  https://randomuser.me/api/portraits/med/women/...
3  Homme  https://randomuser.me/api/portraits/med/women/...
4  Homme  https://randomuser.me/api/portraits/med/men/14...

             username            city                       state  \
0       whitemouse666        De Goorn                   Friesland
1        brownbear146            Bath                 East Sussex
2     organicpanda934         Lellens                     Drenthe
3       greenmouse523           Sokna                      Bergen
4  ticklishmeercat213   Charlottetown   Newfoundland and Labrador

           country  date                 Nom_Prenom  year  salaire  \
0      Netherlands  2019  Van den BovenkampRicardus  2019    94674
1   United Kingdom  2004               TorresJustin  2004    34872
2      Netherlands  2010              LuijkPatrycja  2010    99121
3           Norway  2018                  MalikUgne  2018    48385
4           Canada  2004                  GagnéRyan  2004    75792

  secteur_d_activite etat_civile type_contrat  age
0          Transport     Divorcé          CDI   32
1          Éducation       Marié          CDI   65
2          Transport       Marié          CDI   28
3       Construction       Marié    Freelance   25
4       Construction       Marié          CDI   35

In [67]:
df

,id,email,sexe,image,username,city,state,country,date,Nom_Prenom,year,salaire,secteur_d_activite,etat_civile,type_contrat,age
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,Transport,Divorcé,CDI,32
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,Éducation,Marié,CDI,65
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,Transport,Marié,CDI,28
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,Construction,Marié,Freelance,25
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,Construction,Marié,CDI,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,59167,Santé,Marié,CDI,38
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,54644,Éducation,Veuf,Stage,31
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,93211,Transport,Célibataire,CDD,22
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,55437,Sport,Célibataire,CDI,30
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,60798,Industrie,Célibataire,CDI,27

In [68]:
# Renommer la colonne 'date' en 'date_embauche'
df.rename(columns={'date': 'date_embauche'}, inplace=True)
df

,id,email,sexe,image,username,city,state,country,date_embauche,Nom_Prenom,year,salaire,secteur_d_activite,etat_civile,type_contrat,age
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,Transport,Divorcé,CDI,32
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,Éducation,Marié,CDI,65
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,Transport,Marié,CDI,28
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,Construction,Marié,Freelance,25
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,Construction,Marié,CDI,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,59167,Santé,Marié,CDI,38
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,54644,Éducation,Veuf,Stage,31
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,93211,Transport,Célibataire,CDD,22
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,55437,Sport,Célibataire,CDI,30
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,60798,Industrie,Célibataire,CDI,27

In [69]:

# Définir les niveaux d'éducation et leurs poids respectifs
niveaux_education = ['Bac', 'Bac+5', 'Doctorat', 'Certificat Professionnelle']
poids_education = [0.05, 0.50, 0.10, 0.35]  # Ajuster pour que la somme soit 1
 
# Remplir la colonne 'niveau_education' avec des valeurs selon les poids
df['niveau_education'] = np.random.choice(niveaux_education, size=len(df), p=poids_education)

# Afficher les premières lignes du DataFrame pour vérifier
print(df.head())

                                     id                                 email  \
0  99f47c42-7b8b-4d7b-be66-74ec5339ba74  ricardus.vandenbovenkamp@example.com
1  982f83fa-d1c9-493b-9b3c-2813ed24d9f2             justin.torres@example.com
2  b8655e1b-45b0-4c19-8d9d-bc66f9edb98f            patrycja.luijk@example.com
3  ecee9c62-36ba-4417-a522-bf6cc9da33fa                ugne.malik@example.com
4  0f4b2280-df21-45d1-b803-dbf1152550b0                ryan.gagne@example.com

    sexe                                              image  \
0  Homme  https://randomuser.me/api/portraits/med/men/85...
1  Femme  https://randomuser.me/api/portraits/med/men/3.jpg
2  Homme  https://randomuser.me/api/portraits/med/women/...
3  Homme  https://randomuser.me/api/portraits/med/women/...
4  Homme  https://randomuser.me/api/portraits/med/men/14...

             username            city                       state  \
0       whitemouse666        De Goorn                   Friesland
1        brownbear146            Bath                 East Sussex
2     organicpanda934         Lellens                     Drenthe
3       greenmouse523           Sokna                      Bergen
4  ticklishmeercat213   Charlottetown   Newfoundland and Labrador

           country  date_embauche                 Nom_Prenom  year  salaire  \
0      Netherlands           2019  Van den BovenkampRicardus  2019    94674
1   United Kingdom           2004               TorresJustin  2004    34872
2      Netherlands           2010              LuijkPatrycja  2010    99121
3           Norway           2018                  MalikUgne  2018    48385
4           Canada           2004                  GagnéRyan  2004    75792

  secteur_d_activite etat_civile type_contrat  age            niveau_education
0          Transport     Divorcé          CDI   32  Certificat Professionnelle
1          Éducation       Marié          CDI   65                       Bac+5
2          Transport       Marié          CDI   28  Certificat Professionnelle
3       Construction       Marié    Freelance   25                       Bac+5
4       Construction       Marié          CDI   35                       Bac+5

In [70]:
df

,id,email,sexe,image,username,city,state,country,date_embauche,Nom_Prenom,year,salaire,secteur_d_activite,etat_civile,type_contrat,age,niveau_education
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,Transport,Divorcé,CDI,32,Certificat Professionnelle
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,Éducation,Marié,CDI,65,Bac+5
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,Transport,Marié,CDI,28,Certificat Professionnelle
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,Construction,Marié,Freelance,25,Bac+5
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,Construction,Marié,CDI,35,Bac+5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,59167,Santé,Marié,CDI,38,Bac+5
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,54644,Éducation,Veuf,Stage,31,Bac
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,93211,Transport,Célibataire,CDD,22,Bac+5
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,55437,Sport,Célibataire,CDI,30,Doctorat
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,60798,Industrie,Célibataire,CDI,27,Bac+5

In [71]:
df.columns

Index(['id', 'email', 'sexe', 'image', 'username', 'city', 'state', 'country',
       'date_embauche', 'Nom_Prenom', 'year', 'salaire', 'secteur_d_activite',
       'etat_civile', 'type_contrat', 'age', 'niveau_education'],
      dtype='object')

In [72]:
df.drop(columns=['salaire'])

,id,email,sexe,image,username,city,state,country,date_embauche,Nom_Prenom,year,secteur_d_activite,etat_civile,type_contrat,age,niveau_education
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,Transport,Divorcé,CDI,32,Certificat Professionnelle
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,Éducation,Marié,CDI,65,Bac+5
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,Transport,Marié,CDI,28,Certificat Professionnelle
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,Construction,Marié,Freelance,25,Bac+5
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,Construction,Marié,CDI,35,Bac+5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,Santé,Marié,CDI,38,Bac+5
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,Éducation,Veuf,Stage,31,Bac
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,Transport,Célibataire,CDD,22,Bac+5
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,Sport,Célibataire,CDI,30,Doctorat
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,Industrie,Célibataire,CDI,27,Bac+5

In [73]:
df

,id,email,sexe,image,username,city,state,country,date_embauche,Nom_Prenom,year,salaire,secteur_d_activite,etat_civile,type_contrat,age,niveau_education
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,Transport,Divorcé,CDI,32,Certificat Professionnelle
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,Éducation,Marié,CDI,65,Bac+5
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,Transport,Marié,CDI,28,Certificat Professionnelle
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,Construction,Marié,Freelance,25,Bac+5
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,Construction,Marié,CDI,35,Bac+5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,59167,Santé,Marié,CDI,38,Bac+5
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,54644,Éducation,Veuf,Stage,31,Bac
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,93211,Transport,Célibataire,CDD,22,Bac+5
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,55437,Sport,Célibataire,CDI,30,Doctorat
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,60798,Industrie,Célibataire,CDI,27,Bac+5

In [74]:
df

,id,email,sexe,image,username,city,state,country,date_embauche,Nom_Prenom,year,salaire,secteur_d_activite,etat_civile,type_contrat,age,niveau_education
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,94674,Transport,Divorcé,CDI,32,Certificat Professionnelle
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,34872,Éducation,Marié,CDI,65,Bac+5
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,99121,Transport,Marié,CDI,28,Certificat Professionnelle
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,48385,Construction,Marié,Freelance,25,Bac+5
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,75792,Construction,Marié,CDI,35,Bac+5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,59167,Santé,Marié,CDI,38,Bac+5
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,54644,Éducation,Veuf,Stage,31,Bac
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,93211,Transport,Célibataire,CDD,22,Bac+5
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,55437,Sport,Célibataire,CDI,30,Doctorat
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,60798,Industrie,Célibataire,CDI,27,Bac+5

In [75]:
df.drop(columns=['salaire'])

,id,email,sexe,image,username,city,state,country,date_embauche,Nom_Prenom,year,secteur_d_activite,etat_civile,type_contrat,age,niveau_education
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,Transport,Divorcé,CDI,32,Certificat Professionnelle
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,Éducation,Marié,CDI,65,Bac+5
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,Transport,Marié,CDI,28,Certificat Professionnelle
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,Construction,Marié,Freelance,25,Bac+5
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,Construction,Marié,CDI,35,Bac+5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,Santé,Marié,CDI,38,Bac+5
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,Éducation,Veuf,Stage,31,Bac
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,Transport,Célibataire,CDD,22,Bac+5
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,Sport,Célibataire,CDI,30,Doctorat
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,Industrie,Célibataire,CDI,27,Bac+5

In [76]:
df=df.drop(columns=['salaire'])

In [77]:
# Sauvegarder le DataFrame en tant que fichier CSV
df.to_csv('data_final.csv', index=False)

In [78]:
df

,id,email,sexe,image,username,city,state,country,date_embauche,Nom_Prenom,year,secteur_d_activite,etat_civile,type_contrat,age,niveau_education
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,Transport,Divorcé,CDI,32,Certificat Professionnelle
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,Éducation,Marié,CDI,65,Bac+5
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,Transport,Marié,CDI,28,Certificat Professionnelle
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,Construction,Marié,Freelance,25,Bac+5
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,Construction,Marié,CDI,35,Bac+5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,Santé,Marié,CDI,38,Bac+5
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,Éducation,Veuf,Stage,31,Bac
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,Transport,Célibataire,CDD,22,Bac+5
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,Sport,Célibataire,CDI,30,Doctorat
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,Industrie,Célibataire,CDI,27,Bac+5

In [79]:
df.columns

Index(['id', 'email', 'sexe', 'image', 'username', 'city', 'state', 'country',
       'date_embauche', 'Nom_Prenom', 'year', 'secteur_d_activite',
       'etat_civile', 'type_contrat', 'age', 'niveau_education'],
      dtype='object')

In [80]:

# Créer la colonne 'salaire' (entre 30,000 et 80,000)
df['salaire'] = np.random.randint(30000, 80001, size=len(df))

# Créer la colonne 'profit' aléatoire, mais supérieur au salaire
df['profit'] = df['salaire'] + np.random.randint(1000, 20001, size=len(df))  # Profit entre 1,000 et 20,000 de plus que le salaire

# Afficher les premières lignes du DataFrame pour vérifier
print(df[['salaire', 'profit']].head())

   salaire  profit
0    37746   53140
1    47681   49638
2    67837   86339
3    63974   66685
4    37786   41409

In [81]:
df

,id,email,sexe,image,username,city,state,country,date_embauche,Nom_Prenom,year,secteur_d_activite,etat_civile,type_contrat,age,niveau_education,salaire,profit
0,99f47c42-7b8b-4d7b-be66-74ec5339ba74,ricardus.vandenbovenkamp@example.com,Homme,https://randomuser.me/api/portraits/med/men/85...,whitemouse666,De Goorn,Friesland,Netherlands,2019,Van den BovenkampRicardus,2019,Transport,Divorcé,CDI,32,Certificat Professionnelle,37746,53140
1,982f83fa-d1c9-493b-9b3c-2813ed24d9f2,justin.torres@example.com,Femme,https://randomuser.me/api/portraits/med/men/3.jpg,brownbear146,Bath,East Sussex,United Kingdom,2004,TorresJustin,2004,Éducation,Marié,CDI,65,Bac+5,47681,49638
2,b8655e1b-45b0-4c19-8d9d-bc66f9edb98f,patrycja.luijk@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,organicpanda934,Lellens,Drenthe,Netherlands,2010,LuijkPatrycja,2010,Transport,Marié,CDI,28,Certificat Professionnelle,67837,86339
3,ecee9c62-36ba-4417-a522-bf6cc9da33fa,ugne.malik@example.com,Homme,https://randomuser.me/api/portraits/med/women/...,greenmouse523,Sokna,Bergen,Norway,2018,MalikUgne,2018,Construction,Marié,Freelance,25,Bac+5,63974,66685
4,0f4b2280-df21-45d1-b803-dbf1152550b0,ryan.gagne@example.com,Homme,https://randomuser.me/api/portraits/med/men/14...,ticklishmeercat213,Charlottetown,Newfoundland and Labrador,Canada,2004,GagnéRyan,2004,Construction,Marié,CDI,35,Bac+5,37786,41409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,8417413f-7973-4679-a3d8-ed57c6c2aa56,peter.tafjord@example.com,Homme,https://randomuser.me/api/portraits/med/men/16...,beautifulfish207,Storås,Oppland,Norway,2018,TafjordPeter,2018,Santé,Marié,CDI,38,Bac+5,42507,46839
470,a7154d6c-5c34-466c-b93f-a0f6ecaccd82,ryan.skarstein@example.com,Homme,https://randomuser.me/api/portraits/med/men/82...,orangezebra831,Øksfjord,Hedmark,Norway,2007,SkarsteinRyan,2007,Éducation,Veuf,Stage,31,Bac,50509,64111
471,807e41d5-9cac-45c2-9feb-80c3ea413ca6,arnaud.singh@example.com,Homme,https://randomuser.me/api/portraits/med/men/1.jpg,orangeostrich835,Woodstock,Ontario,Canada,2004,SinghArnaud,2004,Transport,Célibataire,CDD,22,Bac+5,33730,52588
472,d2cb69e6-e394-4950-a7ff-929f46af5a48,richard.nordsveen@example.com,Homme,https://randomuser.me/api/portraits/med/men/55...,orangegoose435,Liknes,Sogn og Fjordane,Norway,2011,NordsveenRichard,2011,Sport,Célibataire,CDI,30,Doctorat,65579,77868
473,cdb37f24-a06d-4588-8e28-d5f53f05ddf0,akin.vandewijdeven@example.com,Homme,https://randomuser.me/api/portraits/med/men/93...,ticklishlion285,Wedde,Drenthe,Netherlands,2009,Van de WijdevenAkın,2009,Industrie,Célibataire,CDI,27,Bac+5,32034,46970

In [84]:
df.to_csv('data_final.csv', index=False)

In [85]:
df.columns

Index(['id', 'email', 'sexe', 'image', 'username', 'city', 'state', 'country',
       'date_embauche', 'Nom_Prenom', 'year', 'secteur_d_activite',
       'etat_civile', 'type_contrat', 'age', 'niveau_education', 'salaire',
       'profit'],
      dtype='object')